<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="EmployesConnectionString" connectionString="data source=LAPTOP-PC1SB9ND\SQLEXPRESS;initial catalog=Employes;integrated security=True;MultipleActiveResultSets=Truex;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>