<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="EmployesConnectionString" connectionString="data source=LAPTOP-PC1SB9ND\SQLEXPRESS;initial catalog=Employees;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="EncryptionPassword" value="w2K$3bN9@8zQ" />
  </appSettings>
</configuration>